.sidebar
  .sidebar__header
    .sidebar__header__box
      %p.sidebar__header__box-user-name
        user-name
      .sidebar__header__box__btn-edit
        %i.fa.fa-edit
        -# = fa_icon 'edit'
      .sidebar__header__box__btn-cog
        %i.fa.fa-cog
        -# = fa_icon 'cog'
  .sidebar__groups
    .sidebar__groups__group
      group-name

